<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-card *ngFor="let card of cards">
    <ion-card-header>      
      <ion-card-title>{{card.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>      
      <ion-card-subtitle><ion-chip>{{card.subtitulo}}</ion-chip></ion-card-subtitle>
    </ion-card-header>      
    <ion-card-content>  
      {{card.conteudo}}   
    </ion-card-content>
    <ion-img [src]="card.foto"></ion-img>
    <ion-badge color="secondary">55</ion-badge>
  </ion-card>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-item>
  <ion-label>Meus Arquivos</ion-label>
  <ion-badge slot="end">08</ion-badge>
</ion-item>